In [22]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

In [23]:
df = pd.DataFrame([1295., 25., 19000., 5., 1., 300.], columns=["views"])

In [24]:
# Standard Scales by Sklearn
ss = StandardScaler()
df["z_score"] = ss.fit_transform(df[["views"]])
df

     views   z_score
0   1295.0 -0.307214
1     25.0 -0.489306
2  19000.0  2.231317
3      5.0 -0.492173
4      1.0 -0.492747
5    300.0 -0.449877

In [25]:
# Standard Scaler by Manual
vw = np.array(df["views"])
(vw[0] - np.mean(vw)) / np.std(vw)

-0.30721413311687235

In [26]:
# Min-Max Scaling by Skelearn
mm = MinMaxScaler()
df["minmax"] = mm.fit_transform(df[["views"]])
df

     views   z_score    minmax
0   1295.0 -0.307214  0.068109
1     25.0 -0.489306  0.001263
2  19000.0  2.231317  1.000000
3      5.0 -0.492173  0.000211
4      1.0 -0.492747  0.000000
5    300.0 -0.449877  0.015738

In [27]:
# Min-Max Scaling by manual
(vw[0] - np.min(vw)) / (np.max(vw) - np.min(vw) )

0.06810884783409653

In [29]:
# Robust Scaling by Sklearn
rs = RobustScaler()
df["robust"] = rs.fit_transform(df[["views"]])
df

     views   z_score    minmax     robust
0   1295.0 -0.307214  0.068109   1.092883
1     25.0 -0.489306  0.001263  -0.132690
2  19000.0  2.231317  1.000000  18.178528
3      5.0 -0.492173  0.000211  -0.151990
4      1.0 -0.492747  0.000000  -0.155850
5    300.0 -0.449877  0.015738   0.132690

In [33]:
# Robust Scaling by Manual
quartiles = np.percentile(vw, (25., 75.))
iqr = quartiles[1] - quartiles[0]
(vw[0] - np.median(vw)) / iqr

1.0928829915560916