In [7]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_selection import VarianceThreshold

In [4]:
cv = CountVectorizer(min_df=.1, max_df=.85, max_features=2000)
cv

CountVectorizer(max_df=0.85, max_features=2000, min_df=0.1)

In [6]:
df = pd.read_csv("../datasets/pokemon.csv")
poke_gen = pd.get_dummies(df["Generation"])
poke_gen.head()

   Gen 1  Gen 2  Gen 3  Gen 4  Gen 5  Gen 6
0      1      0      0      0      0      0
1      1      0      0      0      0      0
2      1      0      0      0      0      0
3      1      0      0      0      0      0
4      1      0      0      0      0      0

In [8]:
vt = VarianceThreshold(threshold=.15)
vt.fit(poke_gen)

VarianceThreshold(threshold=0.15)

In [9]:
pd.DataFrame({"variance": vt.variances_,
              "select_feature": vt.get_support()
             }, index=poke_gen.columns).T

                   Gen 1     Gen 2 Gen 3     Gen 4     Gen 5      Gen 6
variance        0.164444  0.114944  0.16  0.128373  0.163711  0.0919937
select_feature      True     False  True     False      True      False

In [12]:
poke_gen_subset = poke_gen.iloc[:, vt.get_support()].head()
poke_gen_subset

   Gen 1  Gen 3  Gen 5
0      1      0      0
1      1      0      0
2      1      0      0
3      1      0      0
4      1      0      0