In [10]:
import numpy as np
import pandas as pd
from scipy.stats import describe

import skimage
from skimage import io

In [11]:
cat = io.imread("../../datasets/cat.png")
dog = io.imread("../../datasets/dog.png")

In [12]:
cat_rgb = cat.reshape((168*300), 3).T
dog_rgb = dog.reshape((168*300), 3).T

cs = describe(cat_rgb, axis=1)
ds = describe(dog_rgb, axis=1)

cat_rgb_range = cs.minmax[1] - cs.minmax[0]
dog_rgb_range = ds.minmax[1] - ds.minmax[0]
rgb_range_df = pd.DataFrame([cat_rgb_range, dog_rgb_range], columns=["R_range", "G_range", "B_range"], index=["Cat", "Dog"])
rgb_range_df

     R_range  G_range  B_range
Cat      240      223      235
Dog      246      250      246

In [19]:
cat_stats = np.array([np.round(cs.mean, 2), np.round(cs.variance, 2), 
                      np.round(cs.kurtosis, 2), np.round(cs.skewness, 2),
                      np.round(np.median(cat_rgb, axis=1), 2)
                     ]).flatten()
dog_stats = np.array([np.round(ds.mean, 2), np.round(ds.variance, 2), 
                      np.round(ds.kurtosis, 2), np.round(ds.skewness, 2),
                      np.round(np.median(dog_rgb, axis=1), 2)
                     ]).flatten()


pd.DataFrame([cat_stats, dog_stats], columns=[
                                              "R_mean", "G_mean", "B_mean",
                                              "R_var", "G_var", "B_var",
                                              "R_kurt", "G_kurt", "B_kurt",
                                              "R_skew", "G_skew", "B_skew",
                                              "R_med", "G_med", "B_med"
                                             ])

,R_mean,G_mean,B_mean,R_var,G_var,B_var,R_kurt,G_kurt,B_kurt,R_skew,G_skew,B_skew,R_med,G_med,B_med
0,127.48,118.80,111.94,3054.04,2863.78,3003.05,-0.63,-0.77,-0.94,-0.48,-0.50,-0.25,140.0,132.0,120.0
1,184.46,173.46,160.77,1887.71,1776.00,1574.73,1.30,2.24,2.32,-0.96,-1.12,-1.09,185.0,169.0,165.0