In [1]:
import pandas as pd
import numpy as np

# Effect Coding Scheme

Is similar to Dummy Coding Scheme, but instead here the category or class dropped is represented by a full columns equal to one

In [7]:
df = pd.read_csv("../../datasets/pokemon.csv")

In [12]:
gen_onehot_features = pd.get_dummies(df["Generation"])
gen_effect_features = gen_onehot_features.iloc[:, :-1]
gen_effect_features.loc[np.all(gen_effect_features == 0, axis=1)] = -1
pd.concat([df[["Name", "Generation"]], gen_effect_features], axis=1)

/home/francisco/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-12-7ab111b2adeb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gen_effect_features.loc[np.all(gen_effect_features == 0, axis=1)] = -1

                      Name Generation  Gen 1  Gen 2  Gen 3  Gen 4  Gen 5
0                Bulbasaur      Gen 1      1      0      0      0      0
1                  Ivysaur      Gen 1      1      0      0      0      0
2                 Venusaur      Gen 1      1      0      0      0      0
3    VenusaurMega Venusaur      Gen 1      1      0      0      0      0
4               Charmander      Gen 1      1      0      0      0      0
..                     ...        ...    ...    ...    ...    ...    ...
795                Diancie      Gen 6    255    255    255    255    255
796    DiancieMega Diancie      Gen 6    255    255    255    255    255
797    HoopaHoopa Confined      Gen 6    255    255    255    255    255
798     HoopaHoopa Unbound      Gen 6    255    255    255    255    255
799              Volcanion      Gen 6    255    255    255    255    255

[800 rows x 7 columns]