In [12]:
import pandas as pd
import numpy as np

from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import TfidfVectorizer

# Topic Models

This models search to assign an specific general topic

In [3]:
norm_corpus = np.array(['sky blue beautiful', 'love blue beautiful sky',
       'quick brown fox jumps lazy dog', 'brown fox quick blue dog lazy',
       'sky blue sky beautiful today', 'dog lazy brown fox quick'],
      dtype='<U30')

In [13]:
tv = TfidfVectorizer(min_df=0., max_df=1., use_idf=False)
matrix_tv = tv.fit_transform(norm_corpus)
matrix_tv = matrix_tv.toarray()
vocab = tv.get_feature_names()
pd.DataFrame(matrix_tv, columns=tv.get_feature_names())

,beautiful,blue,brown,dog,fox,jumps,lazy,love,quick,sky,today
0,0.577350,0.577350,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.577350,0.000000
1,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.5,0.000000,0.500000,0.000000
2,0.000000,0.000000,0.408248,0.408248,0.408248,0.408248,0.408248,0.0,0.408248,0.000000,0.000000
3,0.000000,0.408248,0.408248,0.408248,0.408248,0.000000,0.408248,0.0,0.408248,0.000000,0.000000
4,0.377964,0.377964,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.755929,0.377964
5,0.000000,0.000000,0.447214,0.447214,0.447214,0.000000,0.447214,0.0,0.447214,0.000000,0.000000

In [8]:
lda = LatentDirichletAllocation(n_components=2, max_iter=100, random_state=42)
dt_matrix = lda.fit_transform(matrix_tv)
features = pd.DataFrame(dt_matrix, columns=["Topic 1", "Topic 2"])
features

    Topic 1   Topic 2
0  0.189709  0.810291
1  0.174467  0.825533
2  0.847449  0.152551
3  0.799637  0.200363
4  0.180869  0.819131
5  0.839335  0.160665

In [14]:
tt_matrix = lda.components_
for topic_weights in tt_matrix:
    topic = [(token, weight) for token, weight in zip(vocab, topic_weights)]
    topic = sorted(topic, key=lambda x: -x[1])
    topic = [item for item in topic if item[1] > .6]
    print(topic)
    print()

[('brown', 1.7496981395183921), ('dog', 1.7496981395183921), ('fox', 1.7496981395183921), ('lazy', 1.7496981395183921), ('quick', 1.7496981395183921), ('jumps', 0.8992474623480845), ('blue', 0.7741965375530845)]

[('sky', 2.322278025434259), ('blue', 2.0893664951096262), ('beautiful', 1.9443703297770052), ('love', 0.9907637446594275), ('today', 0.8688168705988248)]